/* Import Poppins */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap);

/* Import Raleway */
@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
}

.main-logo {
  width: 45vw;
}

.my-fabulous-hero {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/My\ Fabulous\ Event_Hero\ Image.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  margin-top: 1.67vh;
}
